@import com.jtest.Flight

@(flights: List[Flight])


@main("Welcome to Play") {

    <table class="pure-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Destination</th>
                <th>Departure</th>
                <th>Date</th>
                <th>Price</th>
                <th>Currency</th>
            </tr>
        </thead>
        <tbody>
        @for(flight <- flights) {
            <tr>
                <td>@flight.id</td>
                <td>@flight.destCode</td>
                <td>@flight.deptCode</td>
                <td>@flight.date</td>
                <td>@flight.price</td>
                <td>@flight.currency</td>
            </tr>
        }
        </tbody>
    </table>

}
